/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
	background: #FFF url(../images/banner.jpg) top center no-repeat;
	background: #EEE none;
}

#page-wrapper{
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 2px;

	box-shadow: 0 0 10px #DDD;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	/*overflow: hidden;*/
}

#page {
}

#header {
	border-bottom: 1px solid #EEE;
}

#header .section {
}

#navigation{
	background: #035495;
}

.region-highlighted,
#main-wrapper {
}

#main {
}

#footer{
	border-top: 1px solid #EEE;
}

.region-footer {
}
