/**
 * @file
 * Views Styling
 */

.views-view-grid td {
	/*border-bottom: 1px solid #EEE;
	border-left: 1px solid #EEE;*/
}

.front .views-view-grid td {
	border-bottom: 0 none;
	border-left: 0 none;
}

.views-view-grid td.col-first{
	border-left: 0 none;
}

.views-view-grid .row-last td {
	border-bottom: 0 none;
}

.view-brands .views-view-grid{
	width: 920px;
	margin: 0 auto;
}

/**Brands Items**/
.view-brands.view-display-id-block_1 .views-view-grid td{
	text-align: center;
}

/***/
.views-view-grid{
	width: 100%;
}

.view-product-face table td,
.view-footwear table td{
	width: 33%;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 25px;
}

.views-view-grid div.fivestar-widget .cancel,
.views-view-grid div.fivestar-widget .star,
.views-view-grid div.fivestar-widget-static .star{
	float: none;
	display: inline-block;
}

.views_slideshow_slide{
	text-align: center;
	width: 980px;
}

/** news */
.view-news .views-row{
	margin-bottom: 20px;
	border-bottom: 1px dashed #EEE;
}

.view-news .views-row-last{
	border-bottom: 0 none;
}

/** slider */
#block-views-banners-block-1 .view-content .views-field-field-slider-image{
	line-height: 0;
}

#block-views-banners-block-2{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	margin: 0;
}

#block-views-banners-block-2 .view-content .views-row{
	line-height: 0;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	opacity: 0.5;
}

#block-views-banners-block-2 .view-content .views-row.activeSlide{
	opacity: 1;
}